/*#FA7D00*/

@font-face {
  font-family: Isobare-Regular;
  src: url("/Fonts/SpecimenISOBARE/Isobare-Regular.otf");
}

h1 {
    text-align: center;
    color: rgb(250, 125, 0);
    font-family: Isobare-Regular;
}

.heading{
  margin-top: 27vh; 
  margin-bottom: 2%;
}

html {
    height: 100%;
}

body{
    background-color: black;
    height: 100%;
}

.logo{
  width: 150px; 
  position: absolute; 
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
  margin-top: 5vh;
}

/*NAVBAR*/
.navbar-collapse{
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.navbar-collapse .nav-link{
  letter-spacing: 2px;
  font-family: Isobare-Regular;
  color: rgb(250, 125, 0);
}

.navbar-collapse .nav-item:not(:last-child){
  border-bottom: 1px solid rgb(250, 125, 0);
  padding: 0.2em 4em;
}

.navbar-collapse .nav-item{
  font-size: 1.3em;
}

@media  screen and (min-width: 800px) {
  .navbar-collapse .nav-item{
    padding: 0.4em 7em;
    font-size: 2em;
  }
}

.navbar-collapse .nav-link:hover,
.navbar-collapse .nav-link.active{
  color: rgb(250, 125, 0);
}


.navbar-toggler{
  z-index: 1;
  background-color: black;
}

.navbar-toggler:focus{
  box-shadow: none;
}

.navbar-collapse.show{
  transition: all 0.5s;
}


/**************/
/*Gallery Page*/
/**************/

.gallery{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  text-align: center;
  color: rgb(250, 125, 0);
  box-sizing: border-box;
  padding: 1rem;
}

h1 {
  position: relative;
  z-index: 10
}

a {
  color: #FFE37B;
  text-decoration: none;
}

/*******/
/*Waves*/
/*******/

.wave-top {
  position: absolute;
  top: 0vh;
  left: 0;
  width: 100vw;
  rotate: 180deg;
  height: 30vh;
}

.wave-bottom {
    position: absolute;
    bottom: 0vh;
    left: 0;
    width: 100vw;
    height: 30vh;
  }

  @media  screen and (max-width: 800px) {
    .wave-bottom, .wave-top{
      height: 25vh;
    }
  }

  .textGalleryVideo, .textGalleryPrint, .textGallerySticker, .textGalleryMusic{
    font-family: Isobare-Regular;
    color: rgb(250, 125, 0);
    position: absolute;
    left: 0;
    right: 0;
    font-size: 2em ;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }


  @media  screen and (max-width: 800px) {
    .textGalleryVideo, .textGalleryPrint, .textGallerySticker, .textGalleryMusic{
      margin-top: 1vh;
      font-size: 1.3em;
    }
  }

  .seperator{
    position: absolute;
    background: rgb(250, 125, 0);
    height: 0.2vh;
    width: 20em;
    margin: auto;
    cursor: pointer;
    border-radius: 4px;
  }

  @media  screen and (max-width: 800px) {
    .seperator{
      width: 10em;
    }
  }

  
  /***************/
  /*Submit Button*/
  /***************/

  .submitButton {
      height: 100vh;
      width: 100vw;
  }
  
  .button {
    background: rgb(250, 125, 0);
    height: 80px;
    width: 200px;
    text-align: center;
    position: relative;
    top: 10%;
    transform: translateY(50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .text {
    font-family: Isobare-Regular;
    font-size: xx-large;
    color: black;
    position: absolute;
    top: 50%;
    transform: translateY(-52%);
    left: 0;
    right: 0;
  }



  /*Check Button*/
  #svgCheckButton {
    width: 40px;
    position: relative;
    transform: translateY(-190%) translateX(-50%);
    left: 50%;
    right: 0;
    top: -10px;
  }

  .check {
    position: relative;
    fill: none;
    stroke: black;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 4px;
  }

 /*Progress Bar*/ 
  .progress-bar {
    position: relative;
    height: 10px;
    width: 0;
    right: 0;
    top: 10%;
    left: 50%;
    border-radius: 200px;
    transform: translateY(-50%) translateX(-50%);
    background: lighten(rgb(250, 125, 0), 15%);
  }
  
  /*Form*/
  .form-group{
    color: rgb(250, 125, 0);
    width: 66%;
    margin: auto;
  }

  .form-control{
    background-color: black;
    border-color: rgb(250, 125, 0);
  }

  input[type=text]:focus,input[type=email]:focus,input[type=text]:focus   {
    background-color: rgb(250, 125, 0);
    opacity: 0.5;
  }


/*Youtube Embed*/
  .youtube {
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin: 0 auto;
    display: inline-block;
    overflow: hidden;
    transition: all 200ms ease-out;
    cursor: pointer;
    margin-left: 1%;
    margin-right: 2%;
  }

  .youtube .play {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAERklEQVR4nOWbTWhcVRTHb1IJVoxGtNCNdal2JYJReC6GWuO83PM/59yUS3FRFARdFlwYP1CfiojQWt36sRCUurRIdVFXIn41lAoVdRGrG1M01YpKrWjiYmaSl8ybZJL3cd+YA//NLObd3++eO8x79z5jSq5Gw+8kov0AP8vMR5l1BtBZQM4B8ks75wCdZdYZZj5qLZ4hov2Nht9Z9vhKKSIaB/gI4M4w62KeAO6Mte4lYOq20FxrlqqOibhHmeWbvNC9ZfDX1mLae391aN6limO/gwgvAPJbWeAZuSDingdwXTBw7/0IsyaA/Fkh+KqOkD+YNfHej1QKD+y7iVlOhgLvFqFfNJvNGyuBJ+KDAF8MDd0tgS8y64OlgSdJMsysL4cG7SOHkyQZLhTee7+d2R2rAVy/S+Jd7/32ouBHAP4gNNRGQyTHc/84NhqNywZp5rvjjnnvt21aABFeCQ+RLwAf2hQ8s7sv9OCLk6AHNgQvIrvbfzKCD76g/O6cu7lf/iER/aQGgy448pExZmhdegAPhR9sObFWH1gT3lp7DaA/5bkIgJhZPgsNmz02novj+KqeApj1ubwXWe4kdyeznAgNvTpE/HQmvKqOMeuFogTUVQSRno+iaLRLAJF7uIgL9O4ubgL8aWgB7S44mNX+35YpICUiAvS9sBLkq1WzT+NFffl6AuoiApi6NT37h6sWkBIRZGkQ8YtLgyji6e1mBYTqCEBPG2Naz+0BWQgtoGoRgCzEsd9hAN1X5BfnFZASUfrSAFQNsyZ1FJASUVpHiLinDJG8U2cBZYogkrcNs5waBAGdstbeU9zdqpw0gPwwSAI6VUxHyFlDpOcHUUBBIuYNs14aZAE5RVwyzPr3/0EAEY0TyfGNjBWQvwZ +CTSbehfAH29mrID8bET0+0EUkAd8WYDOmqJ3ecsG30yr9wqRfm6Y+a1BEFDEjHfHvWmY9ck6CygHvBVr8Xhtb4ZE5HZA3y8DvBNA1TjnrmXWf+sioMwZX5V/VHXMGGMMoKdDCxCRvRWBdzKzdHEO+EisilbPyopHYqp6S9UCAsz4iojI7hUDAtyXVQgIDd6KnOoaWNkbI6FaPSuZGyMArsi7MZoloB4zviI/Nhr3X95jltwTRQmoIfgisy5ai+me67OI7fE4nrqjrqfK1t0eby0FPRB6oGVlchL3rgnfrq19RKbVBdhV9IOSwJmfmJi4vi/4ThERitwyCxVAFqydshuCX5awhQ9KtmuIWd8IDZED/nXT77rvVVv6sHRKwjYi91poqP7Dr+Y6JJ1VSZIMA3wkPNy6bX+o8Bcm0sXMdwM8Fxo0A3xORPaWBp6uPXsmbxCRD0NDL0dOANhVCXy6iAjMcjbcrMt3RITKwdMVRdFo+y5yvkL4eWZ+zHt/ZVD4dEVRNGotpst+dZZZH8k86lqn2pIvT/eqrNfn2xuyqYPZ8mv7s8pfn/8Pybm4TIjanscAAAAASUVORK5CYII=") no-repeat center center;
    background-size: 64px 64px;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: .8;
    transition: all 0.2s ease-out;
  }

  .youtube .play:hover {
    opacity: 1;
    background-color: rgb(250, 125, 0);
  }

  .line{
    background: black;
    height: 0.5vh;
    width: 85vw;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    cursor: pointer;
    border-radius: 4px;
  }

/*********************/
/*VIDEO SMOOTH SCROLL*/
/*********************/

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

section {
  float:left;
  width:100%;
  background:rgb(250, 125, 0);
  position:relative;
}


/* the important styles */
.arrow-wrap {
  position:absolute;
  z-index:1;
  left:50%;
  top:-20em;
  margin-left:-5em;
  background:#111;
  width:10em;
  height:10em;
  padding:4em 2em;
  border-radius:50%;
  font-size:0.5em;
  display:block;
  box-shadow:0px 0px 80px 0px rgb(250, 125, 0);
}

.arrow {
  float:left;
  position:relative;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: rgb(250, 125, 0) transparent transparent transparent;
  -webkit-transform:rotate(360deg)
}

.arrow:after {
  content:'';
  position:absolute;
  top:-3.2em;
  left:-3em;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: #111 transparent transparent transparent;
  -webkit-transform:rotate(360deg)
}


.hint {
  position:absolute;
  top:0.6em;
  width:100%;
  left:0;
  font-size:2em;
  font-style:italic;
  text-align:center;
  color:#fff;
  opacity:0;
}


.arrow-wrap:hover .hint {
  opacity:1;
}


  @-webkit-keyframes arrows {
    0% { top:0; }
    10% { top:12%; }
    20% { top:0; }
    30% { top:12%; }
    40% { top:-12%; }
    50% { top:12%; }
    60% { top:0; }
    70% { top:12%; }
    80% { top:-12%; }
    90% { top:12%; }
    100% { top:0; }
  }
  
  /*Hint Timer*/
  .arrow-wrap .arrow {
    -webkit-animation: arrows 2.8s 0.4s;
    -webkit-animation-delay: 4s;
  }

/*  this is the unimportant CSS used just to layout the content  */
header {
  width:100%;
  color: rgb(250, 125, 0);
  height: 73vh;
  /*height:calc(100% - 3em);*/
}

#lavaLampAnimation{
  position: absolute; 
  width: 100vw; 
  background-color: rgb(250, 125, 0); 
  display: flex; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
}


.Animations{
  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  width: 80vw;
  border: 1.5vh solid black;
}

/*********/
/*STICKER*/
/*********/

.sticker{
  position: absolute;
}

.skateboard{
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  width: 300px; 
}

@media  screen and (min-width: 720px) {
  .skateboard{
    width: 500px; 
  }
}

@media  screen and (min-width: 1080px) {
  .skateboard{
    width: 1000px; 
  }
}